

<body>
  <form [formGroup]="userForms" (ngSubmit)="submitdata()">
    <div class="d-flex justify-content-center mt-5">
      <mat-card class="sub col-12 col-sm-8 col-md-6 col-lg-4 mt-5"  style="background-color: rgba(153, 139, 122, 0.31);">
        <mat-card-header class="justify-content-center">
          <mat-card-title> Login </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="lbl">
            <mat-form-field>
              <mat-label>UserName</mat-label>
              <input formControlName="email" matInput [(ngModel)]="userRegisterationModel.email"
              placeholder="UserName" required   (input)="setData(userRegisterationModel.email)">
              <mat-error>
                Invalid Field
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password"formControlName="password" matInput [(ngModel)]="userRegisterationModel.password"
                placeholder="password" required>
              <mat-error>
                Invalid Field
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="justify-content-center">
          <div >
            <button type="submit" class="btn btn-light rounded mt-4" id="btn1">login</button>
            <a class="btn btn-light rounded mt-4" id="btn2" routerLink="/register">Sign Up</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</body>