.sub {
  max-width: 400px;
}

body {
  
  background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_1280.jpg");

  background-size: 100% 100%;
  padding-top: 10px;
}
 #btn2{
  margin-left: 20px;
  padding-left: 15px;
}

.lbl{ 
  padding-left: 80px;
  padding-top: 20px;
}

 

