
<div >
  <mat-form-field>
    <mat-label>Result</mat-label>
    <mat-select>
      <mat-option *ngFor="let result of SemResults" [value]="result.viewValue"  (click)="getStudentResult(result.value)">
        {{result.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container sm-12 md-12 lg-12">
  <canvas  id="lbl">{{chart}}</canvas>
</div>
<div class="btn2">

  <button (click)="downloadD()" mat-raised-button color="primary">Download</button>
  <button id="btn" (click)="getsendMail()" mat-raised-button color="primary" >Send</button>
</div>