

<body>
  <form [formGroup]="userForms" (ngSubmit)="SubmitData()"  >
    <mat-card class="lbl">
      
      <mat-card-content>
        <mat-card-header class="justify-content-center ">
          <mat-card-title style="color:black;"> <h1>Registration Form</h1> </mat-card-title>
        </mat-card-header>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
          
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput [(ngModel)]="userRegisterationModel.firstName"
              placeholder="firstname" required>
            <mat-error>
              Invalid Field
            </mat-error>
          </mat-form-field>
            </div>
            <div class="col-md-6">
          <mat-form-field class="mx-5">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput [(ngModel)]="userRegisterationModel.lastName"
              placeholder="lastname" required>
            <mat-error>
              Invalid Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field >
            <mat-label>DOB
            </mat-label>
            <input type="date" maxlength="2023" formControlName="dob" [(ngModel)]="userRegisterationModel.dob" matInput
              placeholder="date-of-birth" required>
              <mat-error >
                Invalid Field
              </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
        <mat-form-field class="mx-5">
          <mat-label>Mobile
          </mat-label>
          <input  maxlength="10" formControlName="mobile" [(ngModel)]="userRegisterationModel.mobile" matInput
            placeholder="mobile number" required>
            <mat-error>
              Invalid Field
            </mat-error>
        </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field >
            <mat-label>SSLC %
            </mat-label>
            <input  maxlength="3" formControlName="sslc" [(ngModel)]="userRegisterationModel.sslc" matInput
              placeholder="SSLC Percentage" required>
              <mat-error>
                Invalid Field
              </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
        <mat-form-field class="mx-5">
          <mat-label>HSC %
          </mat-label>
          <input  maxlength="4" formControlName="hsc" matInput [(ngModel)]="userRegisterationModel.hsc" placeholder="Hsc Percentage"
            required>
            <mat-error >
              Invalid Field
            </mat-error>
        </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <mat-form-field>
          <mat-label>Email
          </mat-label>
          <input formControlName="email" matInput [(ngModel)]="userRegisterationModel.email" placeholder="Email-id"
            required>
          <mat-error>
            Invalid Field
          </mat-error>
        </mat-form-field>
        </div>
        <div class="col-md-6">
        <mat-form-field class="mx-5">
          <mat-label>Password
          </mat-label>
          <input type="password" formControlName="password" matInput [(ngModel)]="userRegisterationModel.password"
            placeholder="password" required>
            <mat-error >
              Invalid Field
            </mat-error>

        </mat-form-field>
      </div>
      </div>
      </div>
      <div class="btncontrol">
        <button class="btn" type="submit" mat-raised-button color="primary"
          [disabled]="userForms.invalid" >Register</button>
        
      </div>
      </mat-card-content>
  
       
    </mat-card>
  </form>
</body>
