 body{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_1280.jpg");
 /* background-image: url("https://cdn.pixabay.com/photo/2021/10/23/09/24/ink-6734478_1280.jpg");
 background-size: cover;   */
 }
 .lbl{
   
    background-color: rgba(168, 166, 158, 0.31);
    width: 60% ;
    margin-left: 270px;
} 

.container,.btncontrol{
    margin-top: 77px;
    text-align: center;
    justify-content: center;
}

.btn{
            
    text-align: center;
    font-size: 25px;
    padding: 23px;
    padding-right: 20px;
}

